.listing-details {
    padding: 40px 130px 120px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  @media (max-width: 1200px) {
    .listing-details {
      padding: 40px 80px 120px;
    }
  }
  
  @media (max-width: 992px) {
    .listing-details {
      padding: 40px 50px 120px;
    }
  }
  
  @media (max-width: 576px) {
    .listing-details {
      padding: 40px 20px 120px;
    }
  
    .listing-details .booking {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .listing-details .booking h2 {
      text-align: center;
    }
  
    .listing-details .booking .date-range-calendar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .listing-details .booking .date-range-calendar .button {
      max-width: 300px;
    }
  }
  
  .listing-details .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media (max-width: 576px) {
    .listing-details .title {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }
  
  @media (max-width: 576px) {
    .listing-details .title h1 {
      font-size: 26px;
    }
  }
  
  .listing-details .photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
  }
  
  .listing-details .photos img {
    max-width: 280px;
  }
  
  .listing-details .profile {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .listing-details .profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .listing-details .booking {
    margin-top: 30px;
  }
  
  .listing-details .booking .date-range-calendar {
    margin: 30px 0;
  }
  
  .listing-details .booking .date-range-calendar h2 {
    margin-bottom: 10px;
  }
  
  .listing-details .booking .date-range-calendar .button {
    background-color: #ff385c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
  }

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .title-container h1 {
    margin: 0;
  }
  
  .favorite-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .favorite-icon svg {
    font-size: 40px;
  }
  @media (max-width: 576px){
    .title-container h1 {
      margin: 0;
      font-size: 24px; /* Reduced the font size of the title */
    }
  }
  