.title-list {
    margin: 20px 40px;
    color: #0000ff; /* Assuming $blue is #0000ff */
    font-family: 'Nunito Sans', sans-serif;
  }
  
  @media (max-width: 576px) {
    .title-list {
      margin: 40px 50px;
    }
  }
  
  .list {
    padding: 0 100px 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  @media (max-width: 1200px) {
    .list {
      padding: 0 20px 120px;
      
    }
  }
  .reservation-message {
    font-size: medium;
    margin: 20px 40px;
  }
  