/* Define color variables for consistent use throughout the stylesheet */
:root {
  --pinkred: #F8395A;
  --blue: #24355A;
  --lightgrey: #F7F8F8;
  --grey: #bdb9b9;
  --darkgrey: #969393;
}

/* Styles for the main container of the list */
.list-container {
  padding: 10px 20px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  background-color: #f5f5f5;
  font-family: 'Nunito Sans', sans-serif;
  /* border: 5px solid red; */
}

/* Styles for the main title of the list */
.title-list {
  color: var(--blue);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
  text-align: center;
}

/* Styles for the container of the listing cards */
.list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to next line */
  justify-content: center; /* Center items horizontally */
  align-items: center;
  gap: 15px; /* Space between items */
  padding: 50px 0;
  width:100%; 
  margin: 0 auto; /* Center the list container */
  /* border: 5px solid blue; */
}


/* Styles for the message when no reservations are found */
.reservation-message {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
}

/* Responsive design for medium-sized screens */
@media (max-width: 992px) {
  
}

/* Responsive design for small screens */
@media (max-width: 768px) {
  .list-container {
    padding: 50px 20px; /* Reduce padding on small screens */
  }
  
  
}