.listing-card-container {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background-color: white;
  height: fit-content;
  font-family: 'Nunito Sans', sans-serif;
}

.listing-card-image-container {
  position: relative;
}

.listing-card-slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  transition: transform 0.5s ease;
}

.listing-card-slide {
  min-width: 100%;
  height: 200px;
  transition: transform 0.5s ease;
}

.listing-card-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listing-card-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
}

.listing-card-arrow.prev {
  left: 10px;
}

.listing-card-arrow.next {
  right: 10px;
}

.listing-card-content {
  padding: 1rem;
  cursor: pointer;
}

.listing-card-title {
  margin: 0;
  font-size: 18px;
}

.listing-card-description {
  margin: 0.5rem 0;
  font-size: 16px;
  font-weight: 600;
}

.listing-card-details {
  margin: 0.5rem 0;
  font-size: 16px;
  font-weight: 500;
}

.listing-card-price {
  margin: 0.5rem 0;
  font-size: 16px;
}

.listing-card-price span {
  font-weight: bold;
  font-size: 20px;
}

.listing-card-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.error-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 20px; /* Increased padding to provide more space */
  border-radius: 5px;
  text-align: center;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 20px; /* Added minimum width to ensure enough space for the close button */
}

.error-message p {
  margin: 0;
  flex-grow: 1; /* Added flex-grow to allow the text to expand and occupy available space */
  text-align: left; /* Aligned the text to the left */
  margin-right: 20px; /* Added right margin to create space between the text and close button */
}
