.slide {
    background-color: #212F3D;
    padding: 60px;
    text-align: center;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .slide h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    
  }
  
  @media (max-width: 768px) {
    .slide {
      padding: 40px;
    }
  
    .slide h1 {
      font-size: 28px;
    }
  }
  
  @media (max-width: 480px) {
    .slide {
      padding: 30px;
    }
  
    .slide h1 {
      font-size: 24px;
    }
  }